In [3]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
cars_data = pd.read_csv('Cardetails.csv')

In [ ]:
cars_data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [ ]:
cars_data.head()

In [6]:
cars_data.drop(columns=['torque'], inplace=True)

In [7]:
cars_data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [8]:
cars_data.shape

(8128, 12)

In [9]:
cars_data.dtypes

name              object
year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage           object
engine            object
max_power         object
seats            float64
dtype: object

In [58]:
cars_data.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
seats            0
dtype: int64

In [59]:
cars_data.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
seats            0
dtype: int64

In [11]:
cars_data['mileage'] = cars_data['mileage'].str.extract(r'(\d+\.\d+|\d+)')
cars_data['mileage'] = cars_data['mileage'].astype(float)



cars_data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248 CC,74 bhp,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498 CC,103.52 bhp,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497 CC,78 bhp,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396 CC,90 bhp,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298 CC,88.2 bhp,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.50,1197 CC,82.85 bhp,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493 CC,110 bhp,5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.30,1248 CC,73.9 bhp,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396 CC,70 bhp,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57,1396 CC,70 bhp,5.0

In [12]:
cars_data['engine'] = cars_data['engine'].str.extract(r'(\d+\.\d+|\d+)').astype(float)
cars_data['max_power'] = cars_data['max_power'].str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [13]:
cars_data['seats'].fillna(cars_data['seats'].mode()[0], inplace=True)

C:\Users\Pavitra\AppData\Local\Temp\ipykernel_3652\4290173772.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars_data['seats'].fillna(cars_data['seats'].mode()[0], inplace=True)

In [14]:
# For continuous features (use median to avoid outlier impact)
cars_data['mileage'].fillna(cars_data['mileage'].median(), inplace=True)
cars_data['engine'].fillna(cars_data['engine'].median(), inplace=True)
cars_data['max_power'].fillna(cars_data['max_power'].median(), inplace=True)

# For seats (discrete values, so use mode)
cars_data['seats'].fillna(cars_data['seats'].mode()[0], inplace=True)

C:\Users\Pavitra\AppData\Local\Temp\ipykernel_3652\3865288375.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars_data['mileage'].fillna(cars_data['mileage'].median(), inplace=True)
C:\Users\Pavitra\AppData\Local\Temp\ipykernel_3652\3865288375.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars_data['engine'].fillna(cars_data['engine'].median(), inplace=True)
C:\Users\Pavitra\AppData\Local\Temp\ipykernel_3652\3865288375.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars_data['max_power'].fillna(cars_data['max_power'].median(), inplace=True)
C:\Users\Pavitra\AppData\Local\Temp\ipykernel_3652\3865288375.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars_data['seats'].fillna(cars_data['seats'].mode()[0], inplace=True)

In [15]:
cars_data.shape

(8128, 12)

In [16]:
cars_data.duplicated().sum()

1202

In [17]:
cars_data.drop_duplicates(inplace=True)

In [18]:
cars_data.shape

(6926, 12)

In [19]:
cars_data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90.00,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8121,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000,Petrol,Individual,Manual,Second Owner,18.90,998.0,67.10,5.0
8122,Hyundai i20 Magna 1.4 CRDi,2014,475000,80000,Diesel,Individual,Manual,Second Owner,22.54,1396.0,88.73,5.0
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0

In [20]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6926 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6926 non-null   object
 1   year           6926 non-null   int64
 2   selling_price  6926 non-null   int64
 3   km_driven      6926 non-null   int64
 4   fuel           6926 non-null   object
 5   seller_type    6926 non-null   object
 6   transmission   6926 non-null   object
 7   owner          6926 non-null   object
 8   mileage        6926 non-null   float64
 9   engine         6926 non-null   float64
 10  max_power      6926 non-null   float64
 11  seats          6926 non-null   float64
dtypes: float64(4), int64(3), object(5)
memory usage: 703.4+ KB

In [21]:
def get_brand_name(car_name):
    car_name = car_name.split(' ')[0]
    return car_name.strip()

In [22]:
get_brand_name('Maruti  Swift Dzire VDI')

'Maruti'

In [23]:
cars_data['name'] = cars_data['name'].apply(get_brand_name)

In [24]:
cars_data['name'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Fiat', 'Datsun', 'Jeep',
       'Mercedes-Benz', 'Mitsubishi', 'Audi', 'Volkswagen', 'BMW',
       'Nissan', 'Lexus', 'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo',
       'Kia', 'Force', 'Ambassador', 'Ashok', 'Isuzu', 'Opel', 'Peugeot'],
      dtype=object)

In [25]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
cars_data['name'] = le.fit_transform(cars_data['name'])  # converts brand names to numbers

In [26]:
cars_data['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [ ]:

cars_data['transmission'] = le.fit_transform(cars_data['transmission'])

In [28]:
cars_data['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [29]:
cars_data['seller_type'] = le.fit_transform(cars_data['seller_type'])

In [30]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6926 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6926 non-null   int32
 1   year           6926 non-null   int64
 2   selling_price  6926 non-null   int64
 3   km_driven      6926 non-null   int64
 4   fuel           6926 non-null   object
 5   seller_type    6926 non-null   int32
 6   transmission   6926 non-null   int32
 7   owner          6926 non-null   object
 8   mileage        6926 non-null   float64
 9   engine         6926 non-null   float64
 10  max_power      6926 non-null   float64
 11  seats          6926 non-null   float64
dtypes: float64(4), int32(3), int64(3), object(2)
memory usage: 622.3+ KB

In [31]:
cars_data['fuel'].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [32]:

cars_data['fuel'] = le.fit_transform(cars_data['fuel'])

In [33]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6926 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6926 non-null   int32
 1   year           6926 non-null   int64
 2   selling_price  6926 non-null   int64
 3   km_driven      6926 non-null   int64
 4   fuel           6926 non-null   int32
 5   seller_type    6926 non-null   int32
 6   transmission   6926 non-null   int32
 7   owner          6926 non-null   object
 8   mileage        6926 non-null   float64
 9   engine         6926 non-null   float64
 10  max_power      6926 non-null   float64
 11  seats          6926 non-null   float64
dtypes: float64(4), int32(4), int64(3), object(1)
memory usage: 595.2+ KB

In [34]:
cars_data.reset_index(inplace=True)

In [35]:
cars_data

,index,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,0,20,2014,450000,145500,1,1,1,First Owner,23.40,1248.0,74.00,5.0
1,1,27,2014,370000,120000,1,1,1,Second Owner,21.14,1498.0,103.52,5.0
2,2,10,2006,158000,140000,3,1,1,Third Owner,17.70,1497.0,78.00,5.0
3,3,11,2010,225000,127000,1,1,1,First Owner,23.00,1396.0,90.00,5.0
4,4,20,2007,130000,120000,3,1,1,First Owner,16.10,1298.0,88.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6921,8121,20,2013,260000,50000,3,1,1,Second Owner,18.90,998.0,67.10,5.0
6922,8122,11,2014,475000,80000,1,1,1,Second Owner,22.54,1396.0,88.73,5.0
6923,8123,11,2013,320000,110000,3,1,1,First Owner,18.50,1197.0,82.85,5.0
6924,8124,11,2007,135000,119000,1,1,1,Fourth & Above Owner,16.80,1493.0,110.00,5.0
6925,8125,20,2009,382000,120000,1,1,1,First Owner,19.30,1248.0,73.90,5.0

In [36]:
cars_data['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [ ]:

cars_data['owner'] = le.fit_transform(cars_data['owner'])

In [38]:
cars_data.drop(columns=['index'], inplace=True)

In [39]:
X= cars_data.drop(columns=['selling_price'])
y =cars_data['selling_price']

In [40]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [54]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor 

from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np

# Define your models
models = {
    'LinearRegression': LinearRegression(),
    'Ridge': Ridge(),
    'Lasso': Lasso(),
    'DecisionTree': DecisionTreeRegressor(),
    'RandomForest': RandomForestRegressor(),
    'gradient' : GradientBoostingRegressor()
    
}

# Dictionary to hold scores
results = {}

# Loop through models and evaluate
for name, model in models.items():
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)

    r2 = r2_score(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    results[name] = {
        'R2 Score': round(r2, 4),
        'MAE': round(mae, 2),
        'MSE': round(mse, 2),
        'RMSE': round(rmse, 2)
    }

# Print the results
print("Model Performance Comparison:\n")
for model_name, scores in results.items():
    print(f"{model_name} ")
    for metric, value in scores.items():
        print(f"   {metric}: {value}")
    print('-' * 40)

Model Performance Comparison:

LinearRegression
   R2 Score: 0.618
   MAE: 167298.53
   MSE: 71851090704.86
   RMSE: 268050.54
----------------------------------------
Ridge
   R2 Score: 0.618
   MAE: 167288.11
   MSE: 71849664627.17
   RMSE: 268047.88
----------------------------------------
Lasso
   R2 Score: 0.618
   MAE: 167297.91
   MSE: 71851019444.46
   RMSE: 268050.4
----------------------------------------
DecisionTree
   R2 Score: 0.8265
   MAE: 97848.75
   MSE: 32637137603.42
   RMSE: 180657.51
----------------------------------------
RandomForest
   R2 Score: 0.9106
   MAE: 72192.68
   MSE: 16807171644.69
   RMSE: 129642.48
----------------------------------------
gradient
   R2 Score: 0.9013
   MAE: 82401.69
   MSE: 18566799072.57
   RMSE: 136260.04
----------------------------------------

In [42]:
model = RandomForestRegressor()

In [43]:
model.fit(x_train, y_train)

RandomForestRegressor()

In [44]:
predict = model.predict(x_test)

In [45]:
predict

array([626550.  , 461892.48, 180899.79, ..., 476869.99, 567039.99,
       775920.  ])

In [46]:
x_train.head(1)

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
1090,26,2017,25000,3,1,1,0,25.17,799.0,53.3,5.0

In [47]:
input_data_model = pd.DataFrame(
    [[5,2015,12000,1,1,1,1,12.99,2494.0,100.6,5.0]],
    columns=['name','year','km_driven','fuel','seller_type','transmission','owner','mileage','engine','max_power','seats'])

In [48]:
input_data_model

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,5,2015,12000,1,1,1,1,12.99,2494.0,100.6,5.0

In [49]:
model.predict(input_data_model)

array([972899.96])

In [50]:
import pickle as pk

In [51]:
pk.dump(model,open('model.pkl','wb'))